In [1]:
import pandas as pd
import os
pd.set_option('display.max_columns', None)

In [2]:
data_path = '../data/'
os.listdir(data_path)

['paciente_vs_recurso.csv',
 'area_pop_qtd_pacientes.csv',
 'hospitais_vs_recursos_qtd.csv',
 'hospitais_vs_area_pop_dist.csv',
 'cond_init.csv',
 'tipo_paciente_estadia.csv']

In [3]:
tipo_paciente_estadia_df = pd.read_csv(data_path + 'tipo_paciente_estadia.csv')
tipo_paciente_estadia_df

  Tipo_de_paciente  Estadia
0              TP1        2
1              TP2        2
2              TP3        2
3              TP4        1
4              TP5        1
5              TP6        3
6              TP7        2
7              TP8        2

In [4]:
tipo_paciente_recurso_df = pd.read_csv(data_path + 'paciente_vs_recurso.csv')
tipo_paciente_recurso_df.head(3)

  Tipo_de_paciente Recurso  Usa_recurso
0              TP1      R1            1
1              TP1      R2            0
2              TP1      R3            0

In [5]:
hospital_recurso_sypply_df = pd.read_csv(data_path + 'hospitais_vs_recursos_qtd.csv')
hospital_recurso_sypply_df.head(3)

  Hospital Recurso  Qtd_recurso
0       H1      R1          162
1       H2      R1          189
2       H3      R1          188

In [6]:
hospital_area_pop_dist_df = pd.read_csv(data_path + 'hospitais_vs_area_pop_dist.csv')
hospital_area_pop_dist_df.head(3)

  Hospital Area_pop  Distancia
0       H1      AP1         24
1       H2      AP1         12
2       H3      AP1          4

In [7]:
cond_init_df = pd.read_csv(data_path + 'cond_init.csv')
cond_init_df.head(3)

  Hospital Tipo_de_paciente  Qtd_pacientes_liberados  Dia
0       H1              TP1                       62    2
1       H1              TP2                       31    2
2       H1              TP3                       76    1

In [8]:
area_pop_qtd_pacientes_df = pd.read_csv(data_path + 'area_pop_qtd_pacientes.csv')
area_pop_qtd_pacientes_df.head(3)

  Area_pop Tipo_de_paciente  Qtd_pacientes  Dia
0      AP1              TP1             15    1
1      AP1              TP2             55    1
2      AP1              TP3            107    1

In [27]:
area_pop_qtd_pacientes_df['Qtd_pacientes'].sum()

np.int64(38529)

Drafs

In [16]:
cond_init_df

   Hospital Tipo_de_paciente  Qtd_pacientes_liberados  Dia
0        H1              TP1                       62    2
1        H1              TP2                       31    2
2        H1              TP3                       76    1
3        H1              TP4                       14    2
4        H1              TP5                       60    1
..      ...              ...                      ...  ...
59       H8              TP4                       25    2
60       H8              TP5                       48    2
61       H8              TP6                       21    2
62       H8              TP7                       51    1
63       H8              TP8                       94    2

[64 rows x 4 columns]