In [539]:
import random
import pandas as pd
import numpy as np

In [540]:
# inputs
num_tipos_pacientes = 10
num_recursos = 15
num_areas_pop = 30
num_hospitais = 15
size_square = 100

horizonte_planejado = 8

# valores maximos
estadia_max = 5 #round(horizonte_planejado/2)
qtd_pacientes_por_tipo_area_max = 400
qtd_recursos_por_hospital_max = 140
qtd_recursos_por_hospital_min = 110
distancia_max = 50
data_saida_pac_init_max = estadia_max - 1
qtd_pacientes_liberados_init_max = qtd_recursos_por_hospital_max/2

In [541]:
# tipo de paciente vs recursos usados

tipo_paciente = ["TP" + str(i) for i in range(1, num_tipos_pacientes + 1)]
recursos =  ["R" + str(i) for i in range(1, num_recursos + 1)]
usa_recurso = np.random.choice(['0', '1'], size=(num_tipos_pacientes*num_recursos))

tipo_paciente_df_in = np.tile(tipo_paciente, num_recursos)
tipo_paciente_df = sorted(tipo_paciente_df_in)
recursos_df = np.tile(recursos, num_tipos_pacientes)

#print(tipo_paciente)
#print(recursos)
#print(usa_recurso)

paciente_vs_recurso = pd.DataFrame({'Tipo_de_paciente': tipo_paciente_df, 'Recurso': recursos_df, 'Usa_recurso': usa_recurso})
paciente_vs_recurso['Usa_recurso'] = pd.to_numeric(paciente_vs_recurso['Usa_recurso'])
  
#display(paciente_vs_recurso.sort_values(by=['Tipo_de_paciente', 'Recurso']))

#fazer check se para cada tipo de paciente tem pelo menos 1 recurso sendo alocado
for tipo_paciente_in in paciente_vs_recurso['Tipo_de_paciente'].unique():
  filtro_tipo = paciente_vs_recurso['Tipo_de_paciente'] == tipo_paciente_in
 
  soma_recursos = paciente_vs_recurso.loc[filtro_tipo, 'Usa_recurso'].sum()
  
  if soma_recursos == 0:

      filtro_recurso_1 = paciente_vs_recurso['Recurso'] == 'R1'
      
      paciente_vs_recurso.loc[filtro_tipo & filtro_recurso_1, 'Usa_recurso'] = 1

paciente_vs_recurso.sort_values(by=['Tipo_de_paciente', 'Recurso'])

   Tipo_de_paciente Recurso  Usa_recurso
0               TP1      R1            1
9               TP1     R10            1
1               TP1      R2            0
2               TP1      R3            1
3               TP1      R4            1
..              ...     ...          ...
94              TP9      R5            1
95              TP9      R6            1
96              TP9      R7            1
97              TP9      R8            1
98              TP9      R9            0

[100 rows x 3 columns]

In [542]:
# tipo de paciente vs tempo de estadia
amostras_normais = np.random.normal(loc=estadia_max / 2, scale=estadia_max / 5, size=num_tipos_pacientes)
amostras_limite = np.clip(np.round(amostras_normais), 1, estadia_max)
amostras_limite = [max(elem, 0)  for elem in amostras_limite]
estadia = amostras_limite #np.random.randint(1, estadia_max, size=num_tipos_pacientes)

#print(tipo_paciente)
#print(estadia)

tipo_paciente_estadia_df = pd.DataFrame({'Tipo_de_paciente': tipo_paciente, 'Estadia': estadia})
display(tipo_paciente_estadia_df)

  Tipo_de_paciente  Estadia
0              TP1      2.0
1              TP2      1.0
2              TP3      2.0
3              TP4      1.0
4              TP5      2.0
5              TP6      3.0
6              TP7      1.0
7              TP8      2.0
8              TP9      1.0
9             TP10      2.0

In [543]:
# tipo de paciente vs Ã¡rea populacional vs dia de entrada vs qtd pacientes
area_pop = ["AP" + str(i) for i in range(1, num_areas_pop + 1)]
dias_planejados = [int(i) for i in range(1, horizonte_planejado + 1)] 
tipo_paciente = ["TP" + str(i) for i in range(1, num_tipos_pacientes + 1)]


qtd_pacientes_normais = np.random.normal(
    loc=qtd_pacientes_por_tipo_area_max / 2, 
    scale=qtd_pacientes_por_tipo_area_max/5, 
    size=num_tipos_pacientes * num_areas_pop * horizonte_planejado
)
qtd_pacientes_limite = np.clip(np.round(qtd_pacientes_normais), 0, qtd_pacientes_por_tipo_area_max)
qtd_pacientes_limite = [max(elem, 0) for elem in qtd_pacientes_limite]

qtd_pacientes = qtd_pacientes_limite #np.random.randint(0, qtd_pacientes_por_tipo_area_max, size=num_tipos_pacientes*num_areas_pop*horizonte_planejado)

tipo_paciente_df = np.tile(tipo_paciente, num_areas_pop*horizonte_planejado)

area_pop_df_in = np.tile(area_pop, num_tipos_pacientes*horizonte_planejado)
area_pop_df = sorted(area_pop_df_in)

dias_planejados_df_in1 = np.tile(dias_planejados, num_areas_pop)

dias_planejados_df_in2 = sorted(dias_planejados_df_in1)

dias_planejados_df = np.tile(dias_planejados_df_in2, num_tipos_pacientes)

area_pop_qtd_pac_df = pd.DataFrame({'Area_pop': area_pop_df, 'Tipo_de_paciente': tipo_paciente_df, 'Qtd_pacientes': qtd_pacientes, 'Dia': dias_planejados_df})
display(area_pop_qtd_pac_df)

     Area_pop Tipo_de_paciente  Qtd_pacientes  Dia
0         AP1              TP1           24.0    1
1         AP1              TP2           94.0    1
2         AP1              TP3          274.0    1
3         AP1              TP4          195.0    1
4         AP1              TP5           70.0    1
...       ...              ...            ...  ...
2395      AP9              TP6          277.0    8
2396      AP9              TP7          205.0    8
2397      AP9              TP8          206.0    8
2398      AP9              TP9           77.0    8
2399      AP9             TP10          302.0    8

[2400 rows x 4 columns]

In [544]:
# hospitais vs recursos vs quantidade de recursos
hospitais = ["H" + str(i) for i in range(1, num_hospitais + 1)]

media = (qtd_recursos_por_hospital_min + qtd_recursos_por_hospital_max) / 2
desvio_padrao = (qtd_recursos_por_hospital_max - qtd_recursos_por_hospital_min) / 6
qtd_recursos_normais = np.random.normal(
    loc=media, 
    scale=desvio_padrao, 
    size=num_recursos * num_hospitais
)
qtd_recursos_limite = np.clip(np.round(qtd_recursos_normais), qtd_recursos_por_hospital_min, qtd_recursos_por_hospital_max)
qtd_recursos_limite = [max(elem,0) for elem in qtd_recursos_limite]

qtd_recursos = qtd_recursos_limite # np.random.randint(qtd_recursos_por_hospital_min, qtd_recursos_por_hospital_max, size=num_recursos*num_hospitais)

hospitais_df = np.tile(hospitais, num_recursos)
recursos_df_in = np.tile(recursos, num_hospitais)
recursos_df = sorted(recursos_df_in)
#print(hospitais_df)
#print(qtd_recursos)

hospitais_vs_rec_qtd_df = pd.DataFrame ({'Hospital': hospitais_df, 'Recurso': recursos_df, 'Qtd_recurso': qtd_recursos})
display(hospitais_vs_rec_qtd_df.sort_values(by=['Hospital','Recurso']))

    Hospital Recurso  Qtd_recurso
0         H1      R1        128.0
15        H1     R10        125.0
30        H1      R2        122.0
45        H1      R3        119.0
60        H1      R4        131.0
..       ...     ...          ...
83        H9      R5        116.0
98        H9      R6        121.0
113       H9      R7        127.0
128       H9      R8        129.0
143       H9      R9        125.0

[150 rows x 3 columns]

In [545]:
# FunÃ§Ã£o para calcular a distÃ¢ncia euclidiana
def calcular_distancia(p1, p2):
    return np.sqrt((p1[0] - p2[0])**2 + (p1[1] - p2[1])**2)

# FunÃ§Ã£o principal
def calcular_distancias(hospitais, area_pop):
    # DicionÃ¡rios para armazenar as localizaÃ§Ãµes dos hospitais e Ã¡reas populacionais
    localizacao_hospitais = {}
    localizacao_area_pop = {}
    
    # Atribuir localizaÃ§Ãµes aleatÃ³rias no plano cartesiano (x, y entre 0 e 100)
    for hospital in hospitais:
        localizacao_hospitais[hospital] = (random.randint(0, size_square), random.randint(0, size_square))
        
    for area in area_pop:
        localizacao_area_pop[area] = (random.randint(0, size_square), random.randint(0, size_square))
    
    # Criar lista para armazenar as distÃ¢ncias
    distancias = []
    
    # Calcular as distÃ¢ncias euclidianas entre cada hospital e cada Ã¡rea populacional
    for hospital in hospitais:
        for area in area_pop:
            dist = calcular_distancia(localizacao_hospitais[hospital], localizacao_area_pop[area])
            distancias.append([hospital, area, round(dist, 2)])  # Arredonda a distÃ¢ncia para 2 casas decimais
    
    # Criar DataFrame
    df = pd.DataFrame(distancias, columns=["Hospital", "Area_pop", "Distancia"])
    
    return df

In [546]:
# hospitais vs area pop vs distÃ¢ncia (gerando aleatoriamente pontos num plano cartesiano)
hospitais_vs_area_pop_dist_df = calcular_distancias(hospitais, area_pop)
hospitais_vs_area_pop_dist_df

    Hospital Area_pop  Distancia
0         H1      AP1      28.02
1         H1      AP2      55.44
2         H1      AP3      38.21
3         H1      AP4      51.66
4         H1      AP5      42.54
..       ...      ...        ...
445      H15     AP26      61.55
446      H15     AP27      23.71
447      H15     AP28      39.40
448      H15     AP29      29.68
449      H15     AP30      12.37

[450 rows x 3 columns]

In [547]:
# # hospitais vs area pop vs distÃ¢ncia
# distancia = np.random.randint(1, distancia_max, size=num_hospitais*num_areas_pop)

# hospitais_dist_df = np.tile(hospitais, num_areas_pop)
# area_pop_dist_df_in = np.tile(area_pop, num_hospitais)
# area_pop_dist_df = sorted(area_pop_dist_df_in)

# hospitais_vs_area_pop_dist_df = pd.DataFrame ({'Hospital': hospitais_dist_df, 'Area_pop': area_pop_dist_df, 'Distancia': distancia})
# display(hospitais_vs_area_pop_dist_df.sort_values(by=['Hospital','Area_pop']))

In [548]:
area_pop

['AP1',
 'AP2',
 'AP3',
 'AP4',
 'AP5',
 'AP6',
 'AP7',
 'AP8',
 'AP9',
 'AP10',
 'AP11',
 'AP12',
 'AP13',
 'AP14',
 'AP15',
 'AP16',
 'AP17',
 'AP18',
 'AP19',
 'AP20',
 'AP21',
 'AP22',
 'AP23',
 'AP24',
 'AP25',
 'AP26',
 'AP27',
 'AP28',
 'AP29',
 'AP30']

In [549]:
# hospitais vs area pop vs distÃ¢ncia
num_areas_pop

30

In [550]:
# condiÃ§Ã£o inicial: hospitais vs tipo paciente vs qtd vs data de saÃ­da
data_saida = np.random.randint(1, data_saida_pac_init_max, size=num_hospitais*num_tipos_pacientes)
qtd_pacientes_liberados_init = np.random.randint (0, qtd_pacientes_liberados_init_max, size = num_hospitais*num_tipos_pacientes)

print(hospitais)
print(tipo_paciente)
print(qtd_pacientes_liberados_init)
print(data_saida)

hospitais_lib_df_in = np.tile(hospitais, num_tipos_pacientes)
hospitais_lib_df = sorted(hospitais_lib_df_in)
tipo_paciente_lib_df = np.tile(tipo_paciente, num_hospitais)

cond_init_df = pd.DataFrame({'Hospital': hospitais_lib_df, 'Tipo_de_paciente': tipo_paciente_lib_df, 'Qtd_pacientes_liberados': qtd_pacientes_liberados_init, 'Dia': data_saida})
display(cond_init_df)

['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 'H9', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15']
['TP1', 'TP2', 'TP3', 'TP4', 'TP5', 'TP6', 'TP7', 'TP8', 'TP9', 'TP10']
[ 2 62 57 40 39 15  8  9 17 69 42 50 60 45 12 58 35 60 61  8 14 69 23 50
  9 35 39 54 45 51 23  8  0 67 58 13 53 26 31 52 24 33  7 45 35  0 67  8
 43 36 39 54 40 55 36 62 42 55 36 42 40 68 54 39  3 43 51 30 62 20 65 23
 28 33  5 53 33 24  4 35 32 27 42  7 10  3 39 49 15 29 64 16 59 66 33 22
 68 32  6 33 11 66 23 26 45 48 69 50  9 61 12 42 59 16 66 27 57  7 69 67
 32 57  5 66 15 41 53 53 61 27 28 49  8 43 23 18 60 60  7 23 43 63  2 54
  6 16 55 37 41 15]
[2 3 1 3 3 3 3 1 2 2 3 3 3 3 3 1 2 2 1 1 3 2 2 3 3 2 1 2 3 1 1 1 2 2 3 1 2
 3 3 1 1 3 2 2 1 1 3 1 3 3 1 3 2 1 2 3 2 2 1 3 3 2 3 3 2 3 2 2 2 2 3 2 3 2
 2 1 3 3 2 3 2 3 1 1 1 3 3 2 1 3 3 1 1 2 3 2 1 3 3 1 2 3 1 1 3 3 1 1 3 1 1
 1 3 2 2 3 2 1 1 1 1 1 1 1 3 2 3 3 2 3 3 2 2 1 1 2 3 1 2 2 1 2 1 3 1 1 3 1
 3 3]

    Hospital Tipo_de_paciente  Qtd_pacientes_liberados  Dia
0         H1              TP1                        2    2
1         H1              TP2                       62    3
2         H1              TP3                       57    1
3         H1              TP4                       40    3
4         H1              TP5                       39    3
..       ...              ...                      ...  ...
145       H9              TP6                       16    1
146       H9              TP7                       55    3
147       H9              TP8                       37    1
148       H9              TP9                       41    3
149       H9             TP10                       15    3

[150 rows x 4 columns]

In [551]:
paciente_vs_recurso.to_csv('../data/paciente_vs_recurso.csv', index=False)
tipo_paciente_estadia_df.to_csv('../data/tipo_paciente_estadia.csv', index=False)
area_pop_qtd_pac_df.to_csv('../data/area_pop_qtd_pacientes.csv', index=False)
hospitais_vs_rec_qtd_df.to_csv('../data/hospitais_vs_recursos_qtd.csv', index=False)
hospitais_vs_area_pop_dist_df.to_csv('../data/hospitais_vs_area_pop_dist.csv', index=False)
cond_init_df.to_csv('../data/cond_init.csv', index=False)